:host{
  display: flex;
  flex-direction: column;
}
:host:has(mat-spinner){
    height: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper{
  margin: 0 auto;
  width: 70vw;
  padding-top: 10px;
  gap: 1.75rem;
}

.movie-tags{
    display: flex;
    gap: 2rem;
    .details{
      div{
        display: flex;
        align-items: baseline;
        gap: 1.75rem;
      }
    }
}

.back-button{
  cursor: pointer;
  align-items: center;
  display: flex;
  margin: 1.5rem 0;
}
